<!DOCTYPE html>
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon-->
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>

{% block body %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'txt-create' %}">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'txt-upload' %}">Open</a>
  </li>

</ul>
{% if messages %}
<div class="card" style="background-color:#f5b942">
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}

{% block content %}
{% endblock %}

</body>

</html>