{% extends "auth/base.html" %}
{% block title %}login{% endblock %}
{% block content %}
{% load django_bootstrap5 %}

<center>
    {% if user.is_authenticated %}
    <p>Already Logged In! Go back to</p>
    <a href="{% url 'home' %}"> Home Page </a>
    {% else %}
    <div class="card w-75 border-light" style="margin-top:20px">

        <div class="card-body">
            <h5 class="card-title">Log In</h5>

            <hr>
            {% bootstrap_form_errors form %}
            <form method="POST">
                {% csrf_token %}
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <div class="row">
                        <div class="col-2">

                            <p class="form-label">{{ form.username.label }}:</p>
                        </div>
                        <div class="col">
                            {{form.username}}
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <div class="row">
                        <div class="col-2">
                            <p class="form-label">{{ form.password.label }}:</p>
                        </div>
                        <div class="col">
                            {{form.password}}
                        </div>
                    </div>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">

                    <div class="col">
                        <!-- Simple link -->
                        <a class="nav-link" href="#!">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary btn-lg" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</center>
{% endblock %}