{% extends "auth/base.html" %}
{% block title %}signup{% endblock %}
{% block content %}
<center>
    {% load django_bootstrap5 %}

    <div class="card w-75 border-light" style="margin-top:20px">

        <div class="card-body">
            <h5 class="card-title">Create New User</h5>

            <hr>
            {% bootstrap_form_errors form %}

            <form method="POST">
                {% csrf_token %}
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <div class="row">
                        <div class="col-2">
                            <p class="form-label">{{ form.username.label }}</p>
                        </div>
                        <div class="col">
                            {{form.username}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-outline mb-4">

                            <p class="form-label">{{ form.first_name.label }}</p>

                            {{form.first_name}}
                        </div>
                    </div>

                    <div class="col">

                        <div class="form-outline mb-4">

                            <p class="form-label">{{ form.last_name.label }}</p>
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-outline mb-4">

                            <p class="form-label">{{ form.gender.label }}</p>
                            {{form.gender}}
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="form-outline mb-4">
                            <p class="form-label">{{ form.email.label }}</p>
                        </div>
                        {{form.email}}
                    </div>

                    <div class="col">
                        <div class="form-outline mb-4">
                            <p class="form-label">{{ form.phone_number.label }}</p>
                        </div>
                        {{form.phone_number}}
                    </div>

                </div>
                <br>

                <div class="row">

                    <div class="col">
                        <div class="form-outline mb-4">
                            <p class="form-label">{{ form.password1.label }}</p>
                        </div>
                        {{form.password1}}
                    </div>

                    <div class="col">
                        <div class="form-outline mb-4">
                            <p class="form-label">{{ form.password2.label }}</p>
                        </div>
                        {{form.password2}}
                    </div>

                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">

                    <div class="col">
                        <!-- Simple link -->
                        <a class="nav-link" href="#!">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary btn-lg" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</center>
{% endblock %}